name: Testing

on:
  workflow_call:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  # Run unit tests
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        qgis_version: [release-3_28, latest]
      fail-fast: false

    env:
      QGIS_TEST_VERSION: ${{ matrix.qgis_version }}
      KART_VERSION: "0.14.0"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test on QGIS
        run: >
          docker-compose -f .docker/docker-compose.gh.yml run --build --rm
          qgis /usr/src/.docker/run-docker-tests.sh
